<app-header></app-header>
<button type="button" routerLink="/users">Customers</button>
<!-- <div class="container-fluid"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-4">
      <app-sidebar></app-sidebar>
    </div> -->
    <!-- <div class="col-8 h-75"> -->

      <!-- <app-productlist-component></app-productlist-component> -->
      <!-- <app-order></app-order> -->
     <router-outlet></router-outlet>

     <!-- <app-main-layout></app-main-layout> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
<div class="row">

  <app-footer></app-footer>
</div>

