<!-- <select name="" id="">

    <option value=""></option>
</select> -->
 <input [(ngModel)]="clientName" type="text" >

 <!-- <h4>{{clientName}}</h4> -->


<button class="btn btn-success" (click)="purchase()">BUY</button>
<button class="btn btn-primary ">btn</button>
<table *ngIf="isTableShow" class="table mt-5" style="height: 300px;">
   <thead>
    <tr>
        <th>#</th>
        <!-- <th>id</th> -->
        <th>name</th>
        <th>quan</th>
        <th>price</th>
        <th>img</th>
        <!-- <th>catId</th> -->
        <!-- <th>needed Quan</th> -->
        <th>Buy</th>
        <!-- <th>Details</th> -->
  
    </tr>
</thead>
    <!-- [hidden]="item.quantity==0" -->
    <tbody>
    <ng-container  *ngFor="let item of apiProducts;let i=index;"  [style.backgroundColor]="(item.quantity==0)?'yellow':'white'" >
      
    <!-- <tr *ngIf="item.quantity!=0"> -->
        <tr *ngIf="sentCatId==0 || item.quantity==sentCatId" [ngClass]="{'bg-warning':item.quantity==1,'bg-white':item.quantity>1}" class="text-primary">
        <th>{{i+1}}</th>
        <!-- <th>{{item._id}}</th> -->
        <th>{{item.name}}</th>
        <th ><span *ngIf="item.quantity!=0;else outOfStock"  [(ngModel)]="item.quantity" >{{item.quantity}}</span> 
       
        <ng-template #outOfStock>out Of Stock</ng-template>
        </th>
        <th>{{item.price|currency:'EUR'}}</th>
        <th><img   [src]="item.imgURL" alt="" width="100px" height="80px"></th>
        <ng-container>
            <!-- <th ngSwitch="">{{item.cateogryId}}</th> -->
        </ng-container>
        
        <!-- <th><input type="number" #needQuan min="1" value="1"></th>   -->
        <!-- (click)="buy1(item.quantity,item,item.ID)" -->
        <!-- <td><button class="btn btn-dark text-primary" (click)="insertToOrder(item._id,needQuan.value)" >buyAndDecrease</button>
            <button class="btn btn-primary" (click)="buy(item.price,needQuan.value)">buy</button></td> -->
            <td>
                <button class="btn btn-success" [routerLink]="['/main/products/',item._id]">Details</button>
                <button class="btn btn-primary" [routerLink]="['/editPro/',item._id]">edit</button>
              
                <button class="btn btn-danger" (click)="deleteProduct(item._id)"  >delete</button>
                <!-- [routerLink]="['/main/products/',item._id]" -->
            </td>
         
        <!-- buy(item.price,neededQuan.value) -->
  </tr>

</ng-container>
</tbody>


</table>

<div *ngIf="isDivShow" class="row bg-warning m-5 p-5" >Thanks for purchasing from our Store {{clientName}}</div>
{{totalOrderPrice|currency:'EUR'}}

<!-- <h3>{{4|square}}</h3> -->

<div class="row">
    <div class="card m-3" style="width: 18rem;" *ngFor="let card of productList "Ligthbox="red" BGColor="red" shadowColor="yellow">
        <img [src]="card.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{card.name}}</h5>
          <p class="card-text">{{card.price|currency:'EUR'}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<h4>{{showDate|date:'dd/MM/yyyy'}}</h4>

<h4>{{'29602182200658'|square:''}}</h4>

<h4>{{'0000000000000000'|card}}</h4>

<h5>{{selectedId}}</h5>
<h5>{{sentCatId}}</h5>